@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
* {
  font-family: 'Reenie Beanie', cursive;
  font-weight: 100;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  list-style: none;
}

body {
  background: var(--color-tan);
}

/* Media query for larger devices */
@media (min-width: 768px) {
  .responsive-container {
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto; /* Center the container horizontally */
  }
}

hr {
  border-top: 1px solid var(--color-white);
  margin: 1em 0;
  padding: 0;
}
